
body {
    text-align: center;
    background: grey;
}
h1 {
    color: white;
    border: 1px solid black;
    margin-left: 200px;
    margin-right: 200px;
}

button {

    height: 45px;
    width: 120px;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    font-size: 15px;
}

#userInput {
    float:left;
    margin-top: 20px;
    margin-left: 350px;
    vertical-align: middle;
    line-height: 40px;
    background: white;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-family: BlinkMacSystemFont;
    font-size: 15px;

}
#userInput2 {
    float:right;
    margin-top: 20px;
    margin-right: 350px;
    vertical-align: middle;
    line-height: 40px;
    background: white;
    height: 40px;
    width: 100px;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-family: BlinkMacSystemFont;
    font-size: 15px;
}
.board {
    height:432px;
    width:504px;
    margin: auto;
    border:1px solid black;
}

.cell {
    height:70px;
    width: 70px;
    float: left;
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;
    background-color: white;
}
.col {
    width:72px;
    float:left;
    height:600px;
}
