
body {
    text-align: center;
    background: grey;
}
h1 {
    color: white;
    border: 1px solid black;
    margin-left: 200px;
    margin-right: 200px;
}
button {
    height: 45px;
    width: 120px;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    font-size: 15px;
}
input {
    height: 40px;
    width: 100px;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 15px;
}
.board {
    height:432px;
    width:504px;
    margin: auto;
    border:1px solid black;
}

.cell {
    height:70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;
    background-color: white;
}
.col {
    width:72px;
    float:left;
    height:600px;
}
